<header class="site-header">
    <div class="logo">
        <a href="/">
            <img src="/assets/images/10-minute-bible-brew_logo.png"
                alt="10-Minute Bible Brew logo displaying the text 10-Minute Bible Brew" style="max-height: 50px;">
            10-Minute Bible Brew</a>
    </div>

    <nav>
        <a href="/episodes/">Episodes List</a>
        <a href="https://www.youtube.com/@10MinuteBibleBrew">YouTube</a>
        <a href="/resources/">Resources</a>
        <a href="/subscribe/">Subscribe</a>
    </nav>
</header>