<style>
    .box.is-percolated { 
        background-color: var(--brew_color_light_roast); 
        color: var(--brew_color_percolated);
        border: 2px solid var(--brew_color_dark_roast);
        border-radius: 10px;
        padding: var(--space-2) var(--space-4);
        font-weight: 500;
    }
    .box h3 {
        font-weight: 800;
        font-style: italic;
        font-size: var(--space-6);
        line-height: var(--space-2);
        color: var(--brew_color_percolated);
    }
</style>
<div class="box is-percolated is-disclaimer">
    <h3>Disclaimer</h3>
    <p>The inclusion of external links or materials on this site does not constitute an official
        endorsement or a formal partnership. These resources are provided in the spirit of 
        supporting academic study and research. Please be aware that some tools or materials
        may originate from third-party sources, some with whom we may not agree 100% with their
        doctrinal statement; therefore, we strongly recommend that you exercise personal care and 
        critical scrutiny before engaging with them.</p>
</div>