{{ define "main" }}

{{ partial "hero.html" . }}


<section class="container section grid" style="--grid-cols: 3;">
    <div class="card no-hover">
        <div class="card-title">
            <h2><img src="/assets/images/bible.png" alt="Bible"> Fresh Ground</h2>
        </div>
        {{ range first 1 (sort (where .Site.RegularPages "Section" "episodes") "Date" "desc") }}
        <img src="{{ .Params.thumbnail_url }}" alt="{{ .Title }}" class="tile">
        <h3><a href="{{ .Params.view_url }}" target="_youTubeWin">{{ .Title }}</a></h3>
        <p>{{ .Summary  | strings.Truncate 125}}</p>
        <div class="btn-container">
            <a href="{{ .Params.view_url }}" target="_youTubeWin" class="btn">View</a>
        </div>
        {{ end }}
    </div>
    <div class="card no-hover">
        <div class="card-title">
            <h2><img src="/assets/images/coffee_mug.png" alt="Coffee Mug"> Featured Resources</h2>
        </div>       
        <div class="container">
            <h3>A Virtual Library</h3>
            <ul>
                <li>Bible study PDFs</li>
                <li>Devotional books</li>
                <li>Links to Useful Bible Study Tools</li>
            </ul>
        </div>
        <div class="btn-container">
            <a href="resources/"  class="btn full-width">Go to <em>Resources Page</em></a>
        </div>
    </div>
    <div class="card no-hover">
        <div class="card-title">
            <h2><img src="/assets/images/moka_pot.png" alt="Moka Pot"> The Brew Shop</h2>
        </div>    
        <div class="container">
            <img src="/assets/images/coming-soon.jpg" alt="Coming Soon" class="tile">
        </div>
    </div>
</section>


<section class="container section">
    <div class="subscribe-box">
        <h2><img src="/assets/images/coffee_mug.png" alt="Coffee Mug" class="icon_50"> Stay Brewed</h2>
        <p>Get new episodes and study guides delivered to your inbox.</p>

        <form method="POST" action="/api/subscribe.php">
            <input type="email" name="email" placeholder="Your email" required>
            <button class="btn">Subscribe</button>
        </form>
    </div>
</section>

{{ end }}